<a href="https://colab.research.google.com/github/penny1xu/RESTS/blob/main/pull_one_hr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install censusgeocode
!pip install rets
import csv
import pandas as pd
import censusgeocode as cg
import numpy as np
import sys
from rets import Session
import datetime
from datetime import datetime,timedelta
!pip install pytz
import pytz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting censusgeocode
  Downloading censusgeocode-0.5.2-py3-none-any.whl (9.2 kB)
Collecting requests-toolbelt<1,>=0.9.0
  Downloading requests_toolbelt-0.9.1-py2.py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 1.2 MB/s
Collecting requests[security]<3,>=2.27.0
  Downloading requests-2.28.0-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 464 kB/s
Requirement already satisfied: requests<3.0.0,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from requests-toolbelt<1,>=0.9.0->censusgeocode) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2.0.12)
Installing collected packages: requests, requests-toolbelt, censusgeocode
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed censusgeocode-0.5.2 requests-2.28.0 requests-toolbelt-0.9.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rets
  Downloading rets-1.0.0-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.7/dist-packages (from rets) (0.16.0)
Collecting xmltodict>=0.11.0
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.7/dist-packages (from rets) (2.28.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from rets) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->rets) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->rets) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->rets) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->rets) (2.0.12)
Installing collected packages: xmltodict, rets
Successfully installed rets-1.0.0 xmltodict-0.13.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (2022.1)

In [2]:
login_url = 'https://ntrdd.mlsmatrix.com/rets/Login.ashx' 
username = '0671181_NID'
password = 'Rt$tg6jx'
rets_client = Session(login_url, username, password)
rets_client.login()

#filter = {
       # "MlsStatus": "SLD",
       # "ModificationTimestamp": {"$gte": dt_string}
        #}
#result = rets_client.search(resource='Property', resource_class='Property', limit = 10,search_filter=filter)


tz_IN = pytz.timezone('US/Central')
ini_time_for_now = datetime.now(tz_IN)
today_before_1hours = ini_time_for_now - timedelta(hours = 1)
dt_string = today_before_1hours.strftime("%Y-%m-%dT%H:%M:%S.000")

dt_string

'2022-06-22T10:34:34.000'

In [10]:
#ListingId

ListingId_result = rets_client.search(resource = 'Property', resource_class='Property', dmql_query='(StatusChangeTimestamp = {}+),(MlsStatus = Act)'.format(dt_string))
lis = []
di ={}
df = pd.DataFrame()
for item in ListingId_result:
  if(item['PropertyType'] == 'Residential' and item['PropertySubType'] == 'Single Family Residence' and item['StateOrProvince']== 'Texas' and item['PreviousStatus'] == "" or item['PreviousStatus'] == "Coming Soon"):
    df = pd.concat([df, pd.DataFrame(item.values())], axis=1, ignore_index=True) 
    di = item 


for key in di:
  lis.append(key)

df = df.T
df.columns = lis


df['FullAdress'] = df['StreetNumber'] + " " + df['StreetName']  + df['City'] + ", " +df['StateOrProvince'] + " " + df['PostalCode']
df = df[['FullAdress','ListingId','ListPrice','LivingArea','BathroomsFull','BedroomsTotal','YearBuilt','GarageSpaces','PoolYN','LotSizeAcres']]
df

,FullAdress,ListingId,ListPrice,LivingArea,BathroomsFull,BedroomsTotal,YearBuilt,GarageSpaces,PoolYN,LotSizeAcres
0,"11113 DunlavinFort Worth, Texas 76052",20059040,380000.00,1844.00,2,3,2014,2,0,0.1760
1,"4466 RidgevaleFort Worth, Texas 76116",20072858,450000.00,2121.00,2,3,1954,1,1,0.2890
2,"1401 Black HawkNemo, Texas 76070",20079930,985000.00,3108.00,3,5,2018,3,1,3.0000
3,"7663 PictonIrving, Texas 75063",20083566,849000.00,3237.00,3,4,2020,2,0,0.1900
4,"2852 ShorelineLewisville, Texas 75056",20083782,534900.00,2797.00,3,3,2007,2,0,0.1380
5,"156 WilliamsHowe, Texas 75459",20085831,395000.00,1921.00,2,4,1978,0,0,2.7100
6,"8436 MinturnFort Worth, Texas 76131",20086024,350000.00,2110.00,2,4,2003,2,0,0.1380
7,"2001 DevinstoneFort Worth, Texas 76177",20086147,450000.00,2770.00,3,3,2008,2,0,0.2000
8,"821 Lake SierraLittle Elm, Texas 75068",20086996,500000.00,2476.00,2,4,2017,2,0,0.1260
9,"14726 Cedar CreekBalch Springs, Texas 75180",20087366,319900.00,2098.00,2,3,2011,1,0,0.1670
10,"2521 FairbrookIrving, Texas 75062",20088663,349000.00,1822.00,2,3,1965,2,0,0.2920
11,"9333 MoncriefFort Worth, Texas 76244",20089266,575000.00,3243.00,3,4,2004,2,1,0.1300
12,"7616 Jamie ReneeNorth Richland Hills, Texas 76182",20089392,300000.00,2220.00,2,4,1986,2,0,0.1840
13,"721 BriarGarland, Texas 75043",20089832,299999.00,1636.00,2,4,1981,,1,0.1720
14,"2007 FinleyIrving, Texas 75062",20089904,280000.00,1142.00,2,3,1958,3,0,0.1970
15,"6221 MurphyGarland, Texas 75048",20090323,695000.00,2615.00,2,4,1976,2,0,0.8820
16,"2149 SylvanAbilene, Texas 79605",20090753,245000.00,1742.00,2,3,1957,2,0,0.2397
17,"9026 DrumcliffeDallas, Texas 75231",20091130,775700.00,2468.00,3,4,1976,2,0,0.2398
18,"1129 OwingsDenison, Texas 75020",20091339,160000.00,912.00,1,2,1940,1,0,0.1380
19,"220 MeadowparkRockwall, Texas 75032",20091367,747900.00,3098.00,3,4,1993,2,0,2.6160
20,"7505 Crested ButtePlano, Texas 75025",20091372,585000.00,2495.00,2,4,1989,2,1,0.1900
21,"208 MerchantAbilene, Texas 79603",20091413,319000.00,3163.00,2,3,1903,0,0,0.6400
22,"909 DanburyDeSoto, Texas 75115",20092095,449900.00,2866.00,2,3,2014,2,0,0.2300
23,"557 ReddingSaginaw, Texas 76131",20092158,400000.00,1806.00,2,4,2020,3,0,0.1820
24,"1905 Fairway CrossingWylie, Texas 75098",20092359,435000.00,2298.00,2,3,2010,2,0,0.1280
25,"4001 Silver ViewAzle, Texas 76020",20092448,449000.00,2141.00,2,3,2004,2,0,1.0490
26,"1632 Coyote RidgeCarrollton, Texas 75010",20092706,799900.00,3678.00,3,4,2000,3,0,0.2671
27,"2032 SkillmanGarland, Texas 75041",20092829,284900.00,1442.00,3,4,1951,,0,0.1500
28,"9521 OxbowLittle Elm, Texas 75068",20092851,579000.00,2280.00,2,4,2019,2,0,0.1380
29,"3111 BryanDallas, Texas 75204",20092903,495000.00,1818.00,2,2,1980,2,0,0.0820
30,"101 FairviewGarland, Texas 75040",20092924,264900.00,1336.00,1,3,1945,,0,0.1960
31,"162 Meadow LakeGun Barrel City, Texas 75156",20093004,289000.00,1492.00,2,3,2001,2,0,0.1050
32,"100 CateGrand Saline, Texas 75140",20093060,225000.00,1212.00,2,3,2007,,0,0.2700
33,"5310 StoneleighDallas, Texas 75235",20093148,465000.00,1318.00,1,2,1926,,0,0.1820
34,"163 Giant CedarWhitney, Texas 76692",20093415,119000.00,1298.00,2,4,1960,0,0,0.1720
35,"4824 FeltleafFort Worth, Texas 76036",20093493,349000.00,2052.00,2,4,2019,2,0,0.1270
36,"6930 Hickory EstatesSachse, Texas 75048",20093496,739000.00,4070.00,3,4,2007,3,0,0.3500
37,"10029 Long BranchMcKinney, Texas 75071",20093522,654990.00,2022.00,2,3,2017,2,0,0.1270
38,"4162 PeaceFrisco, Texas 75034",20093532,895000.00,3870.00,3,5,2003,3,1,0.1930
39,"1909 BluebonnetFort Worth, Texas 76111",20093534,468000.00,2406.00,2,4,1946,2,0,0.3600
40,"800 WilliamsWaxahachie, Texas 75165",20093549,240000.00,1264.00,1,3,1954,1,0,0.5800
41,"1706 GarnettGainesville, Texas 76240",20093550,270000.00,1800.00,2,3,1950,1,0,0.2390
42,"3525 RidgemoorGarland, Texas 75044",20093556,365000.00,2526.00,2,4,1978,1,0,0.2030
43,"7044 IrongateDallas, Texas 75214",20093565,2195000.00,4924.00,5,5,2022,2,0,0.1720
44,"1431 Eden ValleywoodArlington, Texas 76005",20093568,607252.00,2389.00,2,3,2022,2,0,0.1660
45,"1209 Bus Hwy 287Decatur, Texas 76234",20093572,295000.00,1600.00,2,4,1993,0,0,0.3400
46,"717 County Road 2320Mineola, Texas 75773",20093577,280000.00,1995.00,2,4,2009,2,0,1.3260
47,"8317 Fawn CreekFort Worth, Texas 76123",20093582,272999.00,1271.00,2,3,2022,2,0,0.1260
48,"8405 Fawn CreekFort Worth, Texas 76123",20093587,302999.00,1679.00,2,4,2020,2,0,0.1260
49,"5229 NobleGrand Prairie, Texas 75052",20093593,685000.00,3800.00,3,5,2021,2,0,0.2870
50,"1209 Bus Hwy 287Decatur, Texas 76234",20093603,295000.00,1600.00,2,4,1993,0,0,0.3400
51,"8316 Grand OakFort Worth, Texas 76123",20093604,279999.00,1487.00,2,3,2022,2,0,0.1260
52,"717 WoodfordLewisville, Texas 75056",20093610,780236.00,2816.00,2,3,2022,2,0,0.0920
53,"3803 ParliamentSachse, Texas 75048",20093638,574396.00,2435.00,2,3,2021,2,0,0.1300
54,"TBD DovieMilford, Texas 76670",20093648,95000.00,,,,,,,2.8800
55,"4776 Kings GardenArlington, Texas 76005",20093664,609990.00,2264.00,2,2,2022,2,0,0.1410
56,"4628 FeathercrestFort Worth, Texas 76137",20093681,309900.00,1691.00,2,3,1991,2,1,0.1300

In [4]:
#low_price
lowerPrice_result = rets_client.search(resource = 'Property', resource_class='Property', dmql_query='(PriceChangeTimestamp = {}+),(MlsStatus = Act)'.format(dt_string))
lis = []
di ={}
df = pd.DataFrame()

for item in lowerPrice_result:
  if(item['PropertyType'] == 'Residential' and item['PropertySubType'] == 'Single Family Residence' and item['StateOrProvince']== 'Texas' and item['PreviousListPrice'] > item['ListPrice']):
    df = pd.concat([df, pd.DataFrame(item.values())], axis=1, ignore_index=True) 
    di = item 
for key in di:
  lis.append(key)
df = df.T
df.columns = lis

pre_lis = []
aft_lis = []

df.dropna(subset=['PreviousListPrice'], inplace=True)


for item in df['ListPrice']:
  item = int(round(float(item),0))
  aft_lis.append(item)

for item in df['PreviousListPrice']:
  item = int(round(float(item),0))
  pre_lis.append(item)
  #print(type(item))

df['PreviousListPrice'] = pre_lis
df['ListPrice'] = aft_lis
df['percent'] = (df['PreviousListPrice'] - df['ListPrice'])/ df['ListPrice']

df['FullAddress'] = df['StreetNumber'] + " " + df['StreetName']  + df['City'] + ", " +df['StateOrProvince'] + " " + df['PostalCode']

df = df[['BathroomsFull','BathroomsHalf', 'BathroomsTotalDecimal', 'BathroomsTotalInteger','BedroomsTotal', 'BuildingAreaTotal', 'City', 'CloseDate', 'ClosePrice', 'CumulativeDaysOnMarket', 
   'DaysOnMarket', 'GarageSpaces', 'Latitude', 'ListingContractDate', 'ListingId', 'ListPrice', 
   'ListSource', 'LivingArea', 'Longitude', 'LotSizeAcres', 'MlsStatus', 'OwnerName', 'OwnerPhone', 'OwnerPhoneAlternative',
   'ParcelNumber', 'ParcelNumber2', 'PoolYN', 'PostalCode', 'PreviousListPrice', 'PreviousStatus', 'PropertySubType',
   'PropertyType', 'PublicRemarks', 'PurchaseContractDate', 'SchoolDistrict', 'StandardStatus', 'StatusChangeTimestamp',
   'StreetDirPrefix', 'StreetDirSuffix', 'StreetName', 'StreetNumber', 'StreetNumberNumeric', 'StreetSuffix', 'SubdivisionName',
   'USProperty_MUI', 'YearBuilt','FullAddress','percent']]
df.to_csv('low_price.csv')

In [5]:
#Relist - Back on Market

relist_result = rets_client.search(resource = 'Property', resource_class='Property', dmql_query='(StatusChangeTimestamp = {}+),(MlsStatus = Act)'.format(dt_string))
lis = []
di ={}
df = pd.DataFrame()
# not empty value
for item in relist_result:
    if(item['PropertyType'] == 'Residential' and item['PropertySubType'] == 'Single Family Residence' and item['StateOrProvince']== 'Texas' and item['PreviousStatus']!='Coming Soon' and item['PreviousStatus']!='Active' and item['PreviousStatus']!=""):
      print(item['StatusChangeTimestamp'])
      df = pd.concat([df, pd.DataFrame(item.values())], axis=1, ignore_index=True) 
      di = item 

for key in di:
  lis.append(key)
df = df.T
df.columns = lis
print(len(df.index))
df['FullAdress'] = df['StreetNumber'] + " " + df['StreetName'] + df['City'] + ", " +df['StateOrProvince'] + " " + df['PostalCode']
df = df[['BathroomsFull','BathroomsHalf', 'BathroomsTotalDecimal', 'BathroomsTotalInteger','BedroomsTotal', 'BuildingAreaTotal', 'City', 'CloseDate', 'ClosePrice', 'CumulativeDaysOnMarket', 
   'DaysOnMarket', 'GarageSpaces', 'Latitude', 'ListingContractDate', 'ListingId', 'ListPrice', 
   'ListSource', 'LivingArea', 'Longitude', 'LotSizeAcres', 'MlsStatus', 'OwnerName', 'OwnerPhone', 'OwnerPhoneAlternative',
   'ParcelNumber', 'ParcelNumber2', 'PoolYN', 'PostalCode', 'PreviousListPrice', 'PreviousStatus', 'PropertySubType',
   'PropertyType', 'PublicRemarks', 'PurchaseContractDate', 'SchoolDistrict', 'StandardStatus', 'StatusChangeTimestamp',
   'StreetDirPrefix', 'StreetDirSuffix', 'StreetName', 'StreetNumber', 'StreetNumberNumeric', 'StreetSuffix', 'SubdivisionName',
   'USProperty_MUI', 'YearBuilt','FullAdress']]
df.to_csv('BOM.csv')

2022-06-22T10:51:53.343
2022-06-22T10:34:52.157
2022-06-22T10:58:25.760
2022-06-22T11:18:10.227
2022-06-22T10:49:15.427
2022-06-22T11:24:49.070
2022-06-22T11:12:59.967
2022-06-22T11:06:23.807
2022-06-22T11:11:20.807
2022-06-22T10:42:46.060
2022-06-22T11:04:41.050
11

In [6]:
# CDOM >=90 Long time no change -ignore now
relist_result = rets_client.search(resource = 'Property', resource_class='Property', dmql_query='(PriceChangeTimestamp = {}+),(MlsStatus = Act)'.format(dt_string))
lis = []
df = pd.DataFrame()
for item in relist_result:
    if(item['PropertyType'] == 'Residential' and item['PropertySubType'] == 'Single Family Residence' and item['StateOrProvince']== 'Texas'):
      df = df.append(item, ignore_index=True)
df = pd.DataFrame(df)
df['FullAdress'] = df['StreetNumber'] + " " + df['StreetName']  + df['City'] + ", " +df['StateOrProvince'] + " " + df['PostalCode']
df = df[['BathroomsFull','BathroomsHalf', 'BathroomsTotalDecimal', 'BathroomsTotalInteger','BedroomsTotal', 'BuildingAreaTotal', 'City', 'CloseDate', 'ClosePrice', 'CumulativeDaysOnMarket', 
   'DaysOnMarket', 'GarageSpaces', 'Latitude', 'ListingContractDate', 'ListingId', 'ListPrice', 
   'ListSource', 'LivingArea', 'Longitude', 'LotSizeAcres', 'MlsStatus', 'OwnerName', 'OwnerPhone', 'OwnerPhoneAlternative',
   'ParcelNumber', 'ParcelNumber2', 'PoolYN', 'PostalCode', 'PreviousListPrice', 'PreviousStatus', 'PropertySubType',
   'PropertyType', 'PublicRemarks', 'PurchaseContractDate', 'SchoolDistrict', 'StandardStatus', 'StatusChangeTimestamp',
   'StreetDirPrefix', 'StreetDirSuffix', 'StreetName', 'StreetNumber', 'StreetNumberNumeric', 'StreetSuffix', 'SubdivisionName',
   'USProperty_MUI', 'YearBuilt','FullAdress']]
print(type(item['ListingContractDate']))
print(type(item['PriceChangeTimestamp']))

#df.to_csv('BOM.csv')

<class 'str'>
<class 'str'>