<a href="https://colab.research.google.com/github/penny1xu/RESTS/blob/main/python_rests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# data clean 

BathroomsFull
BathroomsHalf
BathroomsTotalDecimal
BathroomsTotalInteger
BedroomsTotal
BuildingAreaTotal
City
CloseDate
ClosePrice
CumulativeDaysOnMarket
DaysOnMarket
GarageSpaces
Latitude
ListingContractDate
ListingId
ListPrice
ListSource
Longitude
LotSizeAcres
MlsStatus
OwnerName
OwnerPhone
OwnerPhoneAlternative
ParcelNumber
ParcelNumber2
PoolYN
PostalCode
PreviousListPrice
PreviousStatus
PropertySubType
PropertyType
PublicRemarks
PurchaseContractDate
SchoolDistrict
StandardStatus
StatusChangeTimestamp
StreetDirPrefix
StreetDirSuffix
StreetName
StreetNumber
StreetNumberNumeric
StreetSuffix
SubdivisionName
USProperty_MUI
YearBuilt

In [93]:
#import package
!pip install censusgeocode
import csv
import pandas as pd
import censusgeocode as cg

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: censusgeocode in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: requests-toolbelt<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from censusgeocode) (0.9.1)
Requirement already satisfied: requests[security]<3,>=2.27.0 in /usr/local/lib/python3.7/dist-packages (from censusgeocode) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2022.5.18.1)

# Data cleaning

In [94]:
data= pd.read_csv("final.csv")
# select the data columns we want 
data = data[['BathroomsFull','BathroomsHalf', 'BathroomsTotalDecimal', 'BathroomsTotalInteger','BedroomsTotal', 'BuildingAreaTotal', 'City', 'CloseDate', 'ClosePrice', 'CumulativeDaysOnMarket', 
   'DaysOnMarket', 'GarageSpaces', 'Latitude', 'ListingContractDate', 'ListingId', 'ListPrice', 
   'ListSource', 'Longitude', 'LotSizeAcres', 'MlsStatus', 'OwnerName', 'OwnerPhone', 'OwnerPhoneAlternative',
   'ParcelNumber', 'ParcelNumber2', 'PoolYN', 'PostalCode', 'PreviousListPrice', 'PreviousStatus', 'PropertySubType',
   'PropertyType', 'PublicRemarks', 'PurchaseContractDate', 'SchoolDistrict', 'StandardStatus', 'StatusChangeTimestamp',
   'StreetDirPrefix', 'StreetDirSuffix', 'StreetName', 'StreetNumber', 'StreetNumberNumeric', 'StreetSuffix', 'SubdivisionName',
   'USProperty_MUI', 'YearBuilt','LivingArea']]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (23,24,25,27,29,30,31,76,92,132,137,139,171,173,197,202,226,227,228,229,253,255,299,300,355,359,360,361,362,379,382,383) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# choose columns status

data.loc[data['PropertySubType'] == 'Single Family Residence' ]
data.loc[data['PropertyType'] == 'Residential']

# Set Input

In [96]:
# input data address
print('Enter address')
address = input()
print('Enter city')
city = input()
print('Enter state')
state = input()
print('Enter zipcode')
zip = input()

Enter address
3700 mapleshade ln
Enter city
plano
Enter state
tx
Enter zipcode
75075

In [105]:
# # limit zipcode range
data = data.loc[data['PostalCode'] == zip ]

In [98]:
# if there is no longitude 
#get Longitude and Latitude

##cg = CensusGeocode(benchmark='Public_AR_Current', vintage='Current_Current')
# example: 1620 Yarborough Drive, city = Sherman, State = TX , zipcode = 75092

result = cg.address(address, city = city, state= state,zipcode = zip)
lo = result[0]['coordinates']['x']
la = result[0]['coordinates']['y']
print(result[0]['coordinates'])

{'x': -96.76240415323872, 'y': 33.00313878557192}

In [103]:
# limit longitude and latitude
new_data = data[(data['Longitude'] > lo - 0.01) & (data['Longitude'] < lo + 0.01)&
               (data['Latitude'] < la + 0.02)& (data['Latitude'] > la - 0.02)]

In [104]:
new_data

,BathroomsFull,BathroomsHalf,BathroomsTotalDecimal,BathroomsTotalInteger,BedroomsTotal,BuildingAreaTotal,City,CloseDate,ClosePrice,CumulativeDaysOnMarket,...,StreetDirPrefix,StreetDirSuffix,StreetName,StreetNumber,StreetNumberNumeric,StreetSuffix,SubdivisionName,USProperty_MUI,YearBuilt,LivingArea
3757,2,1,2.1,3,3,NaN,Plano,NaN,NaN,35,...,NaN,NaN,Creekbend,3024,3024,Drive,Dallas North Estates #12-4,411542729.0,1972,2414.0

In [ ]:
# limit the days
data = data[data['CumulativeDaysOnMarket'].isin(range(0,90))]

In [ ]:
# limit square feet

if 'LivingArea' <= 1100:
  data[(data['LivingArea'] > area - 100) & (data['LivingArea'] < area + 100)
elif 'LivingArea' <= 2200:
  data[(data['LivingArea'] > area -200 )& (data['LivingArea'] > area + 200)]
else:
  data[(data['LivingArea'] > area -300 )& (data['LivingArea'] > area + 300)]

In [ ]:
# check number of house = (5,6)个 ok， 不等于repet 上面步骤扩大范围

In [ ]:
# get top 3 mean max min
# return csv