<a href="https://colab.research.google.com/github/penny1xu/RESTS/blob/main/python_rests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# data clean 

BathroomsFull
BathroomsHalf
BathroomsTotalDecimal
BathroomsTotalInteger
BedroomsTotal
BuildingAreaTotal
City
CloseDate
ClosePrice
CumulativeDaysOnMarket
DaysOnMarket
GarageSpaces
Latitude
ListingContractDate
ListingId
ListPrice
ListSource
Longitude
LotSizeAcres
MlsStatus
OwnerName
OwnerPhone
OwnerPhoneAlternative
ParcelNumber
ParcelNumber2
PoolYN
PostalCode
PreviousListPrice
PreviousStatus
PropertySubType
PropertyType
PublicRemarks
PurchaseContractDate
SchoolDistrict
StandardStatus
StatusChangeTimestamp
StreetDirPrefix
StreetDirSuffix
StreetName
StreetNumber
StreetNumberNumeric
StreetSuffix
SubdivisionName
USProperty_MUI
YearBuilt

In [51]:
#import package
!pip install censusgeocode
import csv
import pandas as pd
import censusgeocode as cg
import numpy as np
import sys

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: censusgeocode in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: requests-toolbelt<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from censusgeocode) (0.9.1)
Requirement already satisfied: requests[security]<3,>=2.27.0 in /usr/local/lib/python3.7/dist-packages (from censusgeocode) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2.0.12)

# Data cleaning

In [52]:
data= pd.read_csv("final.csv")
# select the data columns we want 
data = data[['BathroomsFull','BathroomsHalf', 'BathroomsTotalDecimal', 'BathroomsTotalInteger','BedroomsTotal', 'BuildingAreaTotal', 'City', 'CloseDate', 'ClosePrice', 'CumulativeDaysOnMarket', 
   'DaysOnMarket', 'GarageSpaces', 'Latitude', 'ListingContractDate', 'ListingId', 'ListPrice', 
   'ListSource', 'Longitude', 'LotSizeAcres', 'MlsStatus', 'OwnerName', 'OwnerPhone', 'OwnerPhoneAlternative',
   'ParcelNumber', 'ParcelNumber2', 'PoolYN', 'PostalCode', 'PreviousListPrice', 'PreviousStatus', 'PropertySubType',
   'PropertyType', 'PublicRemarks', 'PurchaseContractDate', 'SchoolDistrict', 'StandardStatus', 'StatusChangeTimestamp',
   'StreetDirPrefix', 'StreetDirSuffix', 'StreetName', 'StreetNumber', 'StreetNumberNumeric', 'StreetSuffix', 'SubdivisionName',
   'USProperty_MUI', 'YearBuilt','LivingArea']]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (23,24,25,27,29,30,31,76,92,132,137,139,171,173,197,202,226,227,228,229,253,255,299,300,355,359,360,361,362,379,382,383) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Set Input

In [53]:
# change data type
zip = []
lo = []
la = []
sqt = []

for item in data['PostalCode']:
    item = str(item)
    zip.append(item)
for item in data['Longitude']:
    item = float(item)
    lo.append(item)
for item in data['Latitude']:
    item = float(item)
    la.append(item)
for item in data['LivingArea']:
    item = float(item)
    sqt.append(item)

data['PostalCode'] = zip
data['Longitude'] = lo
data['Latitude'] = la
data['LivingArea'] = sqt

In [54]:
# choose columns status

data = data.loc[data['PropertySubType'] == 'Single Family Residence' ]
data = data.loc[data['PropertyType'] == 'Residential']

# filter the data

In [55]:
# input data address
print('Enter #MLS')
mls = 14730621
print('Enter address')
address = '2836 Meadowbrook Drive'
print('Enter city')
city = 'Dallas'
print('Enter state')
state = 'Texas'
print('Enter zipcode')
zip = '75227'

Enter #MLS
Enter address
Enter city
Enter state
Enter zipcode

# code part

In [ ]:
# find value in csv 
res_mls = data.isin([mls]).any().any()
if res_mls :
  print("\nThis value exists in Dataframe")
  # get whole row value
  pulled_value = data.loc[data['ListingId'] == mls]
  #get each value
  dict = pulled_value.to_dict('records')
  #defined number
  house_leftLa = dict[0].get('Latitude')
  house_rightLa = dict[0].get('Latitude') 
  house_leftLo = dict[0].get('Longitude')
  house_rightLo = dict[0].get('Longitude')
  house_leftSqt = dict[0].get('LivingArea')
  house_rightSqt = dict[0].get('LivingArea')

  # get zip
  data = data.loc[data['PostalCode'] == zip ]

  findHouse(house_leftLa, house_rightLa, house_leftLo, house_rightLo, house_leftSqt, house_rightSqt, data)
else :
  print("\nThis value does not exists in Dataframe")
  # # limit zipcode range
  
  # if there is no longitude 
  #get Longitude and Latitude

  ##cg = CensusGeocode(benchmark='Public_AR_Current', vintage='Current_Current')
  result = cg.address(address, city = city, state= state,zipcode = zip)
  lo = result[0]['coordinates']['x']
  la = result[0]['coordinates']['y']
  print(result[0]['coordinates'])

In [54]:
new_data = data[(data['Longitude'] > lo - 0.01) & (data['Longitude'] < lo + 0.01)&
               (data['Latitude'] < la + 0.02)& (data['Latitude'] > la - 0.02)]

SyntaxError: ignored

In [ ]:
# limit the days
data = data.loc[data['PostalCode'] == zip ]
data = data[data['CumulativeDaysOnMarket'].isin(range(0,90))]

In [ ]:
# limit square feet

if 'LivingArea' <= 1100:
  data[(data['LivingArea'] > area - 100) & (data['LivingArea'] < area + 100)
elif 'LivingArea' <= 2200:
  data[(data['LivingArea'] > area -200 )& (data['LivingArea'] > area + 200)]
else:
  data[(data['LivingArea'] > area -300 )& (data['LivingArea'] > area + 300)]

In [44]:
#defined number
house_leftLa = dict[0].get('Latitude')
house_rightLa = dict[0].get('Latitude') 
house_leftLo = dict[0].get('Longitude')
house_rightLo = dict[0].get('Longitude')
house_leftSqt = dict[0].get('LivingArea')
house_rightSqt = dict[0].get('LivingArea')

In [46]:
def findHouse(house_leftLa, house_rightLa, house_leftLo, house_rightLo, house_leftSqt, house_rightSqt, data):
    basic = house_leftSqt
    result = data[(data['Longitude'] >= house_leftLo) & (data['Longitude'] <= house_rightLo) & (data['Latitude'] >= house_leftLa) & (data['Latitude'] <= house_rightLa) & (data['LivingArea'] >= house_leftSqt) & (data['LivingArea'] <= house_rightSqt)]
    if(len(result['Longitude']) >= 6):
        return result
    else:
        house_leftLa -= 0.05
        house_rightLa += 0.05
        house_leftLo -= 0.05
        house_rightLo += 0.05
        if(basic <= 1100):
            house_leftSqt -= 100
            house_rightSqt += 100
        elif(basic <= 2200):
            house_leftSqt -= 200
            house_rightSqt += 200
        else:
            house_leftSqt -= 300
            house_rightSqt += 300
        return findHouse(house_leftLa, house_rightLa, house_leftLo, house_rightLo, house_leftSqt, house_rightSqt, data)  
        

findHouse(house_leftLa, house_rightLa, house_leftLo, house_rightLo, house_leftSqt, house_rightSqt, data)

,BathroomsFull,BathroomsHalf,BathroomsTotalDecimal,BathroomsTotalInteger,BedroomsTotal,BuildingAreaTotal,City,CloseDate,ClosePrice,CumulativeDaysOnMarket,...,StreetDirPrefix,StreetDirSuffix,StreetName,StreetNumber,StreetNumberNumeric,StreetSuffix,SubdivisionName,USProperty_MUI,YearBuilt,LivingArea
77,2,1,2.1,3,3,2103.0,Dallas,2022-02-11,260000.0,45,...,NaN,NaN,Piedmont,7432,7432,Drive,Piedmont,410702913.0,1953,2103.0
162,2,0,2.0,2,3,1833.0,Dallas,2022-02-18,300000.0,32,...,NaN,NaN,loganwood,3215,3215,Drive,Greenwood Terrace,410691899.0,1960,1833.0
607,2,0,2.0,2,3,1416.0,Dallas,2022-02-17,255000.0,3,...,NaN,NaN,Hillburn,2123,2123,Drive,Piedmont,410706974.0,1954,1416.0
676,2,0,2.0,2,3,1300.0,Dallas,2022-02-17,218000.0,8,...,NaN,NaN,Indianola,3314,3314,Street,Kirkdale,410701624.0,1946,1300.0
1026,2,1,2.1,3,4,2185.0,Dallas,2022-03-24,349900.0,29,...,NaN,NaN,Lanyon,7026,7026,Drive,Everglade Park 08,410826712.0,1999,2185.0
1132,2,1,2.1,3,3,2119.0,Dallas,2022-04-12,420000.0,6,...,NaN,NaN,Elkridge,5215,5215,Drive,Buckner Terrace,410695657.0,1968,2119.0
1602,3,0,3.0,3,4,1850.0,Dallas,2022-04-18,309500.0,16,...,NaN,NaN,Day,7044,7044,Street,Urbandale Add 04 Instl,410672365.0,1950,1850.0
2052,2,0,2.0,2,4,NaN,Dallas,2022-03-24,245000.0,7,...,NaN,NaN,Gossage,9412,9412,Lane,Woodway Park Add,410833176.0,1998,1415.0
2235,2,0,2.0,2,2,NaN,Dallas,2022-04-18,160000.0,9,...,NaN,NaN,Wilbarger,3430,3430,Drive,Independence Park Add,410570480.0,1982,1259.0
2319,2,0,2.0,2,4,NaN,Dallas,NaN,NaN,17,...,NaN,NaN,Major,2151,2151,Drive,Piedmont,410707229.0,1953,1364.0
2349,2,0,2.0,2,3,NaN,Dallas,2022-04-26,395000.0,9,...,NaN,NaN,Oak Creek,3545,3545,Circle,Urbandale 4th,410672270.0,1958,1770.0
2352,2,0,2.0,2,3,NaN,Dallas,2022-05-10,370000.0,19,...,NaN,NaN,Hillcroft,5810,5810,Street,Buckner Terrace,410697117.0,1965,1843.0
2409,2,0,2.0,2,3,NaN,Dallas,2022-04-15,345000.0,8,...,NaN,NaN,Hunnicut,6920,6920,Place,Buckner Terrace,410698007.0,1978,1822.0
2755,2,0,2.0,2,3,NaN,Dallas,NaN,NaN,3,...,NaN,NaN,Earlcove,2539,2539,Drive,Bruton Terrace,410734041.0,1965,2060.0
2766,3,0,3.0,3,4,NaN,Dallas,2022-04-29,445000.0,11,...,NaN,NaN,Ashbrook,5216,5216,Road,Buckner Terrace,410696873.0,1965,2540.0
2783,2,0,2.0,2,3,NaN,Dallas,2022-04-15,192000.0,4,...,NaN,NaN,Barclay,8615,8615,Street,Tardys James N 02,410699090.0,1960,1498.0