<a href="https://colab.research.google.com/github/penny1xu/RESTS/blob/main/python_rests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# data clean 

BathroomsFull
BathroomsHalf
BathroomsTotalDecimal
BathroomsTotalInteger
BedroomsTotal
BuildingAreaTotal
City
CloseDate
ClosePrice
CumulativeDaysOnMarket
DaysOnMarket
GarageSpaces
Latitude
ListingContractDate
ListingId
ListPrice
ListSource
Longitude
LotSizeAcres
MlsStatus
OwnerName
OwnerPhone
OwnerPhoneAlternative
ParcelNumber
ParcelNumber2
PoolYN
PostalCode
PreviousListPrice
PreviousStatus
PropertySubType
PropertyType
PublicRemarks
PurchaseContractDate
SchoolDistrict
StandardStatus
StatusChangeTimestamp
StreetDirPrefix
StreetDirSuffix
StreetName
StreetNumber
StreetNumberNumeric
StreetSuffix
SubdivisionName
USProperty_MUI
YearBuilt

In [13]:
#import package
import csv
import pandas as pd

# Data cleaning

In [ ]:
data= pd.read_csv("Total_Result.csv")
# select the data columns we want 
data = data[['BathroomsFull','BathroomsHalf', 'BathroomsTotalDecimal', 'BathroomsTotalInteger','BedroomsTotal', 'BuildingAreaTotal', 'City', 'CloseDate', 'ClosePrice', 'CumulativeDaysOnMarket', 
   'DaysOnMarket', 'GarageSpaces', 'Latitude', 'ListingContractDate', 'ListingId', 'ListPrice', 
   'ListSource', 'Longitude', 'LotSizeAcres', 'MlsStatus', 'OwnerName', 'OwnerPhone', 'OwnerPhoneAlternative',
   'ParcelNumber', 'ParcelNumber2', 'PoolYN', 'PostalCode', 'PreviousListPrice', 'PreviousStatus', 'PropertySubType',
   'PropertyType', 'PublicRemarks', 'PurchaseContractDate', 'SchoolDistrict', 'StandardStatus', 'StatusChangeTimestamp',
   'StreetDirPrefix', 'StreetDirSuffix', 'StreetName', 'StreetNumber', 'StreetNumberNumeric', 'StreetSuffix', 'SubdivisionName',
   'USProperty_MUI', 'YearBuilt']]

In [35]:
# choose columns status

data.loc[data['PropertySubType'] == 'Single Family Residence' ]
data.loc[data['PropertyType'] == 'Residential']

,BathroomsFull,BathroomsHalf,BathroomsTotalDecimal,BathroomsTotalInteger,BedroomsTotal,BuildingAreaTotal,City,CloseDate,ClosePrice,CumulativeDaysOnMarket,...,StatusChangeTimestamp,StreetDirPrefix,StreetDirSuffix,StreetName,StreetNumber,StreetNumberNumeric,StreetSuffix,SubdivisionName,USProperty_MUI,YearBuilt
21,3.0,0.0,3.0,3.0,4.0,2930.0,Arlington,NaN,NaN,3158,...,2016-09-03T17:53:28.880,NaN,NaN,Millwood,6315,6315.0,Court,Tiffany Estates,402202986.0,1996.0
148,2.0,0.0,2.0,2.0,2.0,0.0,Reno,NaN,NaN,1501,...,2018-04-15T22:24:48.087,E,NaN,HIGHWAY 199,4794,4794.0,NaN,NONE,407819908.0,9999.0
174,2.0,1.0,2.1,3.0,4.0,2750.0,Dallas,NaN,NaN,1408,...,2019-07-17T08:36:17.080,NaN,NaN,Westrock,8218,8218.0,Drive,Northwood Park Sec 02,410760552.0,1970.0
180,2.0,0.0,2.0,2.0,4.0,1577.0,Fort Worth,NaN,NaN,1400,...,2018-07-25T13:53:20.370,NaN,NaN,Greer,800,800.0,Street,Cranfill Sub,402179062.0,1961.0
235,3.0,0.0,3.0,3.0,4.0,3862.0,Midlothian,NaN,NaN,1348,...,2022-04-07T08:38:40.973,NaN,NaN,FM 663,3051,3051.0,NaN,Sheri's Place,409936474.0,1960.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4988,3.0,0.0,3.0,3.0,4.0,2261.0,Cleburne,NaN,NaN,68,...,2022-05-24T15:29:11.400,NaN,NaN,Center,1200,1200.0,Court,Heaths West,403214613.0,1976.0
4990,3.0,3.0,3.3,6.0,5.0,4456.0,Azle,NaN,NaN,170,...,2021-12-06T12:32:50.433,NaN,NaN,Twin Creek,351,351.0,Drive,Unknown,407824499.0,1980.0
4991,2.0,1.0,2.1,3.0,4.0,3766.0,Benton,NaN,NaN,174,...,2021-12-02T22:20:28.363,NaN,NaN,Willow Chase,5016,5016.0,Drive,Woodlake South,407405956.0,2000.0
4993,1.0,0.0,1.0,1.0,2.0,884.0,Domino,NaN,NaN,174,...,2021-12-10T13:57:51.927,NaN,NaN,County Road 3784,104,104.0,NaN,Unknown,412006655.0,1975.0
4998,1.0,0.0,1.0,1.0,2.0,858.0,Dallas,NaN,NaN,173,...,2021-12-03T11:32:54.687,NaN,NaN,Kimsey,2722,2722.0,Drive,Maple Lawn Terrace,410668954.0,1936.0

# Set Input

In [ ]:
# input data
print('Enter the Zip Code:')
x = input()

In [ ]:
data =